@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --txt-color: #000000;
    --container : 1920px;
}
/* 
font-family: "Overpass", sans-serif;
font-family: "Montserrat", sans-serif;
font-family: "Raleway", sans-serif;
*/

/* 레이아웃 */
.container{
    width: var(--container); 
    margin: 0 auto;
    height: 100px;
    width: 100%;
    background: #ebebeb;
}

/* 폰트*/

/* HEADER */
body, ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}
.container .logo{
    display: inline-block;
}
a{
    text-decoration: none;
    color: inherit;
}
.logo a{
    background: url(/images/header_logo.png)no-repeat;
    display: block;
    width: 116px;
    height: 35px;
    text-indent: -9999em;
}
.box{
    margin-top: 45px;
}
.box > ul ul{
    display: none; 
}

.top_nav ul{
    display: flex;
}
.top_nav nav{
    float: right ;
    top: 0;
}
.top_nav{
    display: flex;
    justify-content: space-between;
}

.main_menu{
    gap: 60px;
    margin-right: 394px;
}
.dropdown i{
    gap: 42px;
}

/* 링크 버튼 */